<h1>Your Recipes will be shown here.</h1>

<ol>
    <% @recipes.each do |recipe|%>
    <li>
        <a href="/recipes/<%= recipe.id %>"><%= recipe.name%></a>
    </li>
    <%end%>
</ol>



<p>To Create a new Recipe click below:</p>
<a href="/recipes/new">
    <button>Create a new Recipe</button>
</a>