<h1><u>Name</u>: <%=@recipes.name%></h1>
<h1><u>Ingredients</u>: <%=@recipes.ingredients%></h1>
<h1><u>Cook Time</u>: <%=@recipes.cook_time%></h1>

<a href="/recipes">
    <button>Click here to see your recipes</button>
</a>
<br><br>
<form action="/recipes/<%= @recipes.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>